/* Global */
$blanc: #ffffff;
$grisClair: #eef0f3;
$gris: #383c4a;
$grisContenu: #4e6576;
$grisForm: #dfe7f6;

$rouge: #fe5a5f;
$violet: #5d7ee9;
$bleu: #4b99e6;
$vert: #91be73;

/* Partage */
$facebook: #4267b2;
$twitter: #1da1f2;
$linkedin: #283e4a;

/* Structure */
$borderBox: 7px;
$borderBtn: 25px;
$borderBtnSmall: 20px;
$borderBtnBig: 35px;
$borderForm: 2px;
$borderCalendar: 4px;