<div class="aboutimage">
    <div class="aboutimageLeft"> </div>

    <div class="aboutimageRight">
        <h1>{{ 'user.client.aboutimage.title'|trans }}</h1>
        <p>{{ 'user.client.aboutimage.content'|trans }}</p>
        <a href="#" class="btn" data-btn="{{ 'user.client.aboutimage.link'|trans }}">{{ 'user.client.aboutimage.link'|trans }}</a>
    </div>

    <div class="clear"></div>
</div>