{% for flashMessage in app.session.flashbag.get('error') %}
    {% if loop.first %} 
    	<div class="message error">
    	<p>
    {% endif %}
	
    {{ flashMessage }}<br>

    {% if loop.last %} </p> </div> {% endif %}
{% endfor %}

{% for flashMessage in app.session.flashbag.get('succes') %}
    {% if loop.first %} 
    	<div class="message succes">
    	<p>
    {% endif %}

    {{ flashMessage }}<br>

    {% if loop.last %} </p> </div> {% endif %}
{% endfor %}

