<footer class="footer">
    <div class="inner">

        <div class="footerCol">
            <img src="{{ asset('img/layout/logo.png') }}" class="footerLogo">
            <p>{{ 'footer.client.contenu'|trans }}</p>
        </div>
        
        <div class="clear"></div>
    </div>
</footer>