<ul>
	{% for nom, route in breadcrumb %}
		
		{% if route %}
			<li><a href="{{ route }}">{{ nom }}</a><span class="divider">/</span></li>
		{% else %}
			<li>{{ nom }}</li>
		{% endif %}

	{% endfor %}
</ul>

