$grisNoir: #18181f;
$grisFonce: #23232d;
$grisClair: #3a3f52;
$grisTresClair: #ccc;
$grisBlanc: #f4f4f4;
$blanc:#ffffff;
$grisBordure: #e4e4e4;
$bleu:#0095d5;
$bleurClair:#1aa0d9;
$grisBleu: #d6e0e2;
$turquoise: #00a99d;
$rouge: #e10e49;
